span.flag {
    /* width: 44px; */
    height: 30px;
    display: inline-block;
}



.card {
    background: var(--surface-card);
    
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow:scroll !important;
}
.neutral-gray-border {
    border: 1px solid #ccc;
  }

