:root { 
--gray_50_01:#f8f9fb; 
--gray_50_02:#f9f5ff; 
--blue_gray_50:#eaecf0; 
--blue_gray_100_01:#d0d5dd; 
--deep_purple_500:#6840c6; 
--deep_purple_400:#7e56d8; 
--green_A100:#abefc6; 
--gray_50:#f8f8fa; 
--deep_purple_300:#9d76ed; 
--gray_900_0c:#1018280c; 
--green_A700:#17b26a; 
--teal_800:#067647; 
--blue_gray_800:#344053; 
--gray_900_61:#0f172861; 
--blue_gray_700:#475466; 
--blue_gray_900:#292d32; 
--gray_600:#6e6e70; 
--blue_gray_100:#cfd4dc; 
--blue_gray_500:#667084; 
--gray_900:#0f1728; 
--gray_900_01:#101828; 
--gray_100:#f2f3f6; 
--deep_purple_50:#e9d7fe; 
--light_green_50:#ebfdf2; 
--white_A700:#ffffff; 
}